<div id="content"><span class="test">test</span> <span class="rest">rest</span> <span class="success">success</span></div>
<form id="poem-form" action="/poem" method="post">
    <textarea name="poem" id="poem-box" cols="30" rows="10"></textarea><br>
    <input type="submit" value="add poem">
</form>